[Desktop Entry]
Encoding=UTF-8
Name=cagdemo
Comment=Start CANWEB using cagdemo configuration
Exec=/home/pi/CANWEB_cagdemo.sh
Icon=/home/pi/Work/MERG-DEV/canweb/canweb_icon.gif
Terminal=false
Type=Application
Categories=Utility
X-KeepTerminal=false
StartupNotify=true
