[Unit]
Description=MERG CANWEB interface to CBUS
After=multi-user.target

[Service]
Type=forking
User=pi
ExecStart=/bin/sh -ec "cd /home/pi/Work/MERG-DEV/cagdemoCW ; ../canweb/canweb-pi cagdemo.csv & "

[Install]
WantedBy=multi-user.target

